#results{
  display: flex;
}
.item {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  justify-content: space-between;
}
.item.selected{
  color: #1db26b;
}
.item .result-image {
  max-width: 100px;
}
.item .title{
  font-weight: bold;
}
